
{% extends 'base2.html' %}
{% load static %}
{% block content %}
   

   <div class="container profile-base1">
     <img class="profile-img mt-5" src="{% static 'images/image1.png' %}" alt="">
     <div class="container profile-div">
       <h2>CUMMINS AUTHORISED DEALER</h2>
       <h6>We are the biggest name in the Authorized wholesale Dealer a quality approved assortment of Engine Components.</h6>
       <a href="#">view more >></a>
     </div>
     <img class="components" src="{% static 'images/image2.png' %}" alt="">
     <div class="container profile">
       <h6 class="h6">We have associated ourselves with the renowned vendors of the industry who enable us to furnish the necessities of our patrons. They assist us to offer excellent quality engine components to our renowned customers. Our group of professionals are widely experienced and have in-depth knowledge of the respective domain who designs the engine components as per the patron’s requirement. In addition to this, with the support of our professionals, we have the strong relationship with clients in a short span of time.</h6>
     </div>
      
   </div>
{% endblock content %}