{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="mt-3 customer-detail-container">
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">
      ×
      </button>
      <strong>{{message}}<strong>
    </div>
   {% endfor %}
 {% endif %}
  <h5 class="customer-detail bg-dark">Coolant due detail</h5>
 {% for ele in customer_detail %}
   <table class="table">
     <tbody>
       <tr>
         <td class="description">Customer Name</td>
         <td>{{ ele.customer_name }}</td>
       </tr>
       <tr>
         <td class="description">Contact person</td>
         <td>{{ ele.contact_person }}</td>
       </tr>
       <tr>
         <td class="description">Contact number</td>
         <td>{{ ele.phone_num }}</td>
       </tr>
       <tr>
         <td class="description">Mail id</td>
         <td>{{ ele.mail_id }}</td>
       </tr>
       <tr>
         <td class="description">Engine Serial no</td>
         <td>{{ ele.esn }}</td>
       </tr>
       <tr>
         <td class="description">Engine Model</td>
         <td>{{ ele.model }}</td>
       </tr>
       <tr>
         <td class="description">KVA</td>
         <td>{{ ele.kva }}</td>
       </tr>
        <tr>
         <td class="description">Last Coolant Replace Date</td>
         <td>{{ ele.last_coolant }}</td>
       </tr>
        <tr>
         <td class="description">Last Coolant Replace hour</td>
         <td>{{ ele.last_coolant_hour }}</td>
       </tr>
       
       <tr>
         <td class="description">Due</td>
         <td>Coolant due</td>
       </tr>
     </tbody>
   </table>

  <div class=" container button">
   <a class="btn btn-primary btn1 d-block mb-2" href="#">Send Email to Quotation Department</a>
   <a class="btn btn-success btn2 d-block" href="{% url 'remind-customer-coolant' ele.pk %}">Send Email to Customer</a>
   
   </div>
    
    
   {% endfor %}
   
   </div>
</div>
{% endblock %}